/* <div class="newCommentAvatar"><img src="123.jpeg"></div> */

.newCommentAvatar img {
    width:90px;
}

html {
    overflow: scroll;
    color: #000;
    background:url(../img/homebackground3.jpeg) ;
    
}
.webblog_top{
    border-radius:30px;
    height: 30%;
    padding: 1.5em 0;
    background-color:rgb(255,255,255,0.6);
 

}
.webName{
    font-size: 2em;
    font-weight: 400;
    color:rgb(216, 189, 101);
}
.webName{
    text-shadow:-1px 0 rgb(71, 106, 170), 
    0 1px rgb(71, 106, 170), 
    1px 0 rgb(71, 106, 170),
    0 -1px rgb(71, 106, 170);
    font-family: fantasy;

}
.search{
    position: fixed;
    top:10%;
    left:80%;
    width:40%;
}
.search input[type="text"] {
    padding-left: 25px;
    background: none;
  width: 30%;

  font-size: 0.9em;
  color: #fff;
    
}
.icon-fangda{	
  cursor: pointer;
  position: absolute;
  outline: none;
background: url(../img/search.png)no-repeat 0px 0px ;
width: 25px;
height: 25px;
padding:0%;
}
.help{
    color:rgb(216, 189, 101);

}
.nav{
    position: relative;
    top:25%;
    left:70%;
    width:25%;
    color: rgb(216, 189, 101);
    text-shadow: 0 0 1px black;
    
}
#username{
    color: rgb(216, 189, 101);
    text-shadow: 0 0 1px black;
    
   
}
.logout{
    padding-left: 10%;
    color: rgb(216, 189, 101);
    text-shadow: 0 0 1px black;
    left:10%
    

}
.homepage a{
    
    color: rgb(216, 189, 101);
    text-shadow: 0 0 1px black;
    padding-left: 0%;

}

.webblog_main{
    border-radius:30px;
    margin-top: 1%;
    height: 70%;
    padding: 1.5em 0;
    background-color:rgb(255,255,255,0.6);
 

}

.post-clearfix{
    position: relative;
    left:25%;
    padding:1em;
  border: 1em solid transparent;
  background: linear-gradient(white,white) padding-box,repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0/5em 5em;

    width:50%;
    height:60%;

}
#postContent{
    margin-left: 10%;
}




.post-wrap{
    left:25%;
    margin-top: 2%;
    border: 1em solid transparent;
    background: linear-gradient(white,white) padding-box,repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0/5em 5em;
    position: relative;
    width:50%;
}
article.thread{
    position: relative;
    text-align: center;
    padding-top: 2%;
    border: 1px solid black;
}

#icon-person{
    margin-top: 3%;
    height:35px;
    width:35px;

}
#headshot{
    margin-top: 3%;
    height:35px;
    width:35px;
}

.authorAvatar{
    border: orange,solid,5px;
    position: relative;
    margin-top: 3%;
    height:50px;
    width:50px;

}

.thread{
    border: black，solid,2px;
}

.search-post-wrap h2{
    position: relative;
    left:40%;
}
.text-box{
    top:15%;
    text-align: center;
    left:70%;
    width:15%;
    position: absolute;
    padding-top: 10px;
    background-color: rgb(250, 248, 248,0.6);
    
   
    border:2px dotted skyblue;
}
ul{
    position: relative;
    left:80%;
}
