html {
    overflow: scroll;
    color: #000;
    background:url(../img/homebackground5.jpeg);
    
}

.webblog_top{
    border-radius:30px;
    height: 30%;
    padding: 1.5em 0;
    background-color:rgb(255,255,255,0.6);
 

}
.webName{
    
    font-size: 2em;
    font-weight: 400;
    color:rgb(181, 112, 148);

}
.webName {
    text-shadow:-1px 0 black, 
    0 1px black, 
    1px 0 black,
    0 -1px black;
    font-family: fantasy;

}
.nav{
    position: relative;
    top:25%;
    left:70%;
    width:25%;
    color: rgb(196, 135, 35);
    text-shadow: 0 0 1px black;
}
#username{
    color: rgb(196, 135, 35);
    text-shadow: 0 0 1px black;
    
   
}
.logout{
    padding-left: 10%;
    color: rgb(196, 135, 35);
    text-shadow: 0 0 1px black;
    left:10%
    

}
.setPersonData a{
    color:rgb(196, 135, 35) ;
    text-shadow: 0 0 1px black;
    

}
.login a{
    
    color: rgb(196, 135, 35);
    text-shadow: 0 0 1px black;
   

}
.homepage a{
    
    color: rgb(196, 135, 35);
    text-shadow: 0 0 1px black;
    

}
.webblog_main{
    border-radius:30px;
    margin-top: 1%;
    height: 100%;
    padding: 1.5em 0;
    background-color:rgb(255,255,255,0.6);
 

}

.personPage_user{
    position: relative;
    left: 30%;
    width:35%;
    font-size: 200%;
    font-weight: 200;


    
    font-family: Bradley Hand, cursive;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: white;
    padding: 40px;
    background:
      linear-gradient(to top, #bd7895, #bd7895 10px, transparent 10px),
      linear-gradient(to right, #a84d8d, #a84d8d 10px, transparent 10px),
      linear-gradient(to bottom, #e48fbd, #e48fbd 10px, transparent 10px),
      linear-gradient(to left, #ac441b, #ac441b 10px, transparent 10px);
  background-origin: border-box;
    
    
}
.text-box{
    position: relative;
    left:45%;
}
.post-wrap{
    left:25%;
    margin-top: 2%;
    border: 1em solid transparent;
    background: linear-gradient(white,white) padding-box,repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0/5em 5em;
    position: relative;
    width:50%;
}

img{
    height:65px;
    width:65px;
}
.info{
    position: relative;
    left:40%;
}
article.thread{
    position: relative;
    text-align: center;
    padding-top: 2%;
    border: 1px solid black;
}




