html {
    overflow: scroll;
    color: #000;
    background:url(../img/homebackground1.jpeg);
    
}
.webblog_top{
    border-radius:30px;
    height: 30%;
    padding: 1.5em 0;
    background-color:rgba(255, 255, 255, 0.6);
 

}
.webName{
    font-size: 2em;
    font-weight: 400;
    color:rgb(96, 166, 184);

}
.webName h1{
    text-shadow:-1px 0 black, 
    0 1px black, 
    1px 0 black,
    0 -1px black;
    font-family: fantasy;

}

.login a{
    
    color: rgb(194, 153, 169);
    text-shadow: 0 0 1px black;
    padding-left: 80%;

}
.homepage a{
    
    color: rgb(194, 153, 169);
    text-shadow: 0 0 1px black;
    

}

.webblog_main{
    border-radius:30px;
    margin-top: 1%;
    height: 100%;
    padding: 1.5em 0;
    background-color:rgb(255,255,255,0.6);
 

}
.comments{
    padding:1em;
      border: 1em solid transparent;
      background: linear-gradient(white,white) padding-box,repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0/5em 5em;
    
        width:50%;
        height:60%;
    

}
.commentforPrompt{
    margin-top: 2%;
    border: 1em solid transparent;
  background: linear-gradient(white,white) padding-box,repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0/5em 5em;

    width:50%;
}
#username{
    left:70%;
    color: rgb(194, 153, 169);
    text-shadow: 0 0 1px black;
    
   
}
.logout{
    color: rgb(194, 153, 169);
    text-shadow: 0 0 1px black;
    padding-left:10%
}
.nav{
    position: relative;
    top:25%;
    left:70%;
    width:25%;
}
